{
    Goblin: (
        name: "Goblin",
        renderable: Some((
            glyph: 'g',
            fg: (red: 0.28, green: 0.5, blue: 0.1, alpha: 1.0),
            bg: (red: 0., green: 0., blue: 0., alpha: 1.)
        )),
        blocks_tile: true,
        movement: RandomWaypoint(path: None),
        gold: Some("2d6"),
        health: Some(50),
        mana: None
    ),

    Villager: (
        name: "Villager",
        renderable: Some((
            glyph: '@',
            fg: (red: .24, green: .35, blue: .45, alpha: 1.),
            bg: (red: 0., green: 0., blue: 0., alpha: 1.)
        )),
        blocks_tile: true,
        movement: RandomWaypoint(path: None),
        gold: Some("1d6"),
        health: Some(10),
        mana: Some(10)
    ),
}